.box {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.box .group-wrapper {
  border: 0px none;
  height: 74px;
  position: relative;
  width: 873px;
}

.box .group {
  height: 74px;
  left: 0;
  position: fixed;
  top: 0;
  width: 873px;
}

.box .div {
  height: 74px;
  left: 218px;
  position: absolute;
  top: 0;
  width: 193px;
}

.box .div-wrapper {
  height: 37px;
  left: 88px;
  position: absolute;
  top: 15px;
  width: 105px;
}

.box .group-2 {
  height: 37px;
  position: relative;
  width: 107px;
}

.box .text-wrapper {
  color: #565656;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 0;
  width: 105px;
}

.box .overlap-group {
  border-radius: 37px;
  height: 74px;
  left: 0;
  position: absolute;
  top: 0;
  width: 74px;
}

.box .navigation-car-auto {
  height: 48px !important;
  left: 13px !important;
  position: absolute !important;
  top: 11px !important;
  width: 48px !important;
}

.box .div-2 {
  background-color: #ff75000a;
  border-radius: 37px;
  height: 74px;
  left: 0;
  position: absolute;
  top: 0;
  width: 74px;
}

.box .group-3 {
  height: 74px;
  left: 0;
  position: absolute;
  top: 0;
  width: 196px;
}

.box .group-4 {
  height: 42px;
  left: 85px;
  position: absolute;
  top: 16px;
  width: 113px;
}

.box .text-wrapper-2 {
  color: #565656;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 0;
  width: 111px;
}

.box .live-coffe-to-go {
  height: 48px !important;
  left: 13px !important;
  position: absolute !important;
  top: 12px !important;
  width: 48px !important;
}

.box .group-5 {
  height: 74px;
  left: 439px;
  position: absolute;
  top: 0;
  width: 188px;
}

.box .group-6 {
  height: 40px;
  left: 95px;
  position: absolute;
  top: 17px;
  width: 95px;
}

.box .text-wrapper-3 {
  color: #565656;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 0;
  width: 93px;
}

.box .laundry {
  height: 41px;
  left: 14px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 46px;
}

.box .group-7 {
  height: 74px;
  left: 667px;
  position: absolute;
  top: 0;
  width: 208px;
}

.box .text-wrapper-4 {
  color: #565656;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 92px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 15px;
  width: 114px;
}

.box .system-wifi-high {
  height: 48px !important;
  left: 14px !important;
  position: absolute !important;
  top: 13px !important;
  width: 48px !important;
}
